<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 상세</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/pricehistory.js"></script>
    <style>
        img {
            max-width: 300px;
            height: auto;
        }
    </style>
</head>
<body>
<h1>상품 상세 정보</h1>
<div>
    <img th:src="${product.image}" alt="상품 이미지">
    <h2 th:text="${product.title}"></h2>
    <!-- 가격 정보 -->
    <p th:if="${product.prices != null and !product.prices.isEmpty()}">
        가격: <span th:text="${product.prices[0].price}">0</span> 원
    </p>
    <p th:if="${product.prices == null or product.prices.isEmpty()}">
        가격 정보가 없습니다.
    </p>

    <!-- 판매처 정보 -->
    <p th:if="${shop != null}">
        판매처: <span th:text="${shop.shopName}">판매처 이름</span>
    </p>
    <p th:if="${shop == null}">
        판매처 정보가 없습니다.
    </p>
    <p>
        카테고리: <span th:text="${product.category1}">카테고리1</span> >
        <span th:text="${product.category2}">카테고리2</span>
    </p>
    <h2>가격 변화 추이</h2>
    <div id="priceHistoryArea" th:data-product-id="${product.id}">
        <p id="priceHistoryMessage"></p>
        <canvas id="priceHistoryChart" width="400" height="200"></canvas>
    </div>
    <p th:if="${shop != null}">
        판매처 이름: <span th:text="${shop.shopName}"></span><br>

        <span th:if="${shop.shopTrust == null}">
            <span th:if="${shop.shopName == '이베이'}">
                신뢰도: 이베이 서비스 별도의 판매자 신뢰도가 존재합니다.
            </span>
            <span th:if="${shop.shopName != '이베이'}">
                신뢰도: 해당 판매처의 신뢰도를 측정하지 못했습니다.
            </span>
        </span>
        <span th:if="${shop.shopTrust != null}">
            신뢰도: <span th:text="${shop.shopTrust}"></span>
        </span><br>

        판매처 URL: <a th:href="${product.link}" target="_blank" th:text="${product.link}"></a>
    </p>
    <p th:if="${shop == null}">판매처 정보가 없습니다.</p>
</div>
<a href="/main">목록으로 돌아가기</a>
</body>
</html>
